.con{
    height:100%;
    width:100vw;
    margin-top:6%;
    .tag_v{
        float:left;
        height:100%;
        width: 11%;
        margin-left:4.5%;
        text-align: center;
        img{
            width:80%;
            margin-left:10%;
            margin-bottom:10%;
            height:auto;
        }
        span{
            font-size:2vh;
            color:#9ad7fd;
        }
    }
    .ddd{
        float:left;
        height:100%;
        width: 11%;
        margin-left:4.5%;
        padding-top:3%;
    }
}