.tag_box{
    width:100vw;
    color:#333;
}
.button{
    width:100vw;
    height:6vh;
    background-color:#9ad7fd;
    color:#fff;
    text-align:center;
    line-height:5.5vh;
}
.in_line{
    width:100vw;
    height:1px;
}