#search{
  width: 11.99rem;
  height: 1.35rem;
}
#search .text{
  width: 9.675rem;
  height: 1.3rem;
  line-height: 1.35rem;
  border: 0.05rem solid #87d9ff;
  padding-left:0.45rem;
  border-top-left-radius:0.2em;
  border-bottom-left-radius:0.2rem;
  vertical-align: top;
  font-size: 0.5rem;
}

#search input::-webkit-input-placeholder{
  font-size: 0.5rem;
  color: #e3e3e3;
}
#search input::-moz-input-placeholder{
  font-size: 0.5rem;
  color: #e3e3e3;
}
#search input::-ms-input-placeholder{
  font-size: 0.5rem;
  color: #e3e3e3;
}

#search .search{
  display: inline-block;
  font-size: 0.55rem;
  width: 2.3rem;
  height: 1.3rem;
  color: white;
  line-height: 1.2rem;
  text-align: center;
  border: 0.05rem solid #87d9ff;
  border-left: none;
  background: #00ccff;
  border-top-right-radius:0.2em;
  border-bottom-right-radius:0.2em;
}
