.tag{
    background-color:rgb(234, 240, 237);
    color:rgb(139, 142, 148);
    padding:0.5vw 1.5vw 0.5vw 1.5vw;
    display:inline;
    text-align:center;
    line-height:4vw;
    border-radius: 0.8vw;
    font-size:2.7vw;
    margin-right:1vw;
    div{
        float:left;
    }
}