.tag_v{
    border:1px; 
    height:6vmin;
    text-align:center;
    border-radius: 5px;
    border-color: #999;
    padding-left:2vw;
    padding-right:2vw;
    color:#999;
    border-style: solid;
    font-size:3.5vmin;
    float:left;
    margin:1vh;
}
.title{
    font-size:4vmin;
    margin-top:1vh;
    margin-left:1vh;
    margin-bottom:1vh;
}
.box{
    width:100%;
    margin:1vh;
    height:17.2vmin;
    overFlow:hidden;
}