.content{
    margin:2vh;
    width:92vw;
    background-color: #fff;
    border-radius: 1vh;
    .info{
        width:100%;
        padding:1vh;
        color:#333;
        font-size:2vh;
        position: relative;
        & > div{
            margin-top:2vh;
            margin-bottom:3.5vh;
            img{
                height:2.5vh;
                margin-right:1vh;
                float:left;
            }
            span{
                margin-right:1vw;
            }
        }
        .sign_box{
            position: absolute;
            background: url("/static/union_store/sign.png") no-repeat center top;
            overflow: hidden;
            background-size: cover;
            height:4.9vh;
            width:8.4vh;
            right:3vw;
            top:-2vh;
            font-size:2vh;
            display: flex;
            padding-left:0.5vh;
            padding-right:0.5vh;
            justify-content:center;
            align-items:center;
            text-align: center;
            line-height: 2.4vh;
        }
        
    }
    .buttons{
        display: flex;
        justify-content:center;
        
    }
}
.stop_contract{
    height:4.1vh;
    width:22vw;
    border-radius: 0.5vh;
    text-align: center;
    line-height: 3.8vh;
    background-color:#ff7676;
    color:#fff;
    display: inline-block;
    margin-left:2vw;
    margin-top:-0.5vh;
}
.button_box{
    height:12vh;
    width:22vw;
    float:left;
    margin-left:1.5vh;
    margin-right:1.5vh;
    font-size:2vh;
    text-align: center;
    line-height: 3.8vh;
    .button{
        margin-top:0.8vh;
        height:4.1vh;
        width:22vw;
        border-radius: 0.5vh;
        border:1px;
        border-color:#9ad7fd;
        border-style:solid;
        
        color:#9ad7fd;
    }
}

.cover_box{
    position: absolute;
    height:100vh;
    width:100vw;
    background-color:rgba(0,0,0,0.4);
    top:0;
    left:0;
    z-index: 1;
}