#intelligentuser ul{
  width: 17.25rem;
  height: 11.25rem;
  margin: 0.5rem auto;
  background: #fff;
  border-radius: 0.25rem;
  font-size: 0.6rem;
  padding-top: 0.3rem;
  color: #333;
  position: relative;
}
#intelligentuser li{
  height: 1.8rem;
  line-height: 1.8rem;
  padding-left: 1.6rem;

}
#intelligentuser li:nth-child(1){
  background: url("/static/union_store/guanliyuan.png") 0.4rem center no-repeat;
  background-size: 0.75rem;
}
#intelligentuser li:nth-child(2){
  background: url("/static/union_store/yonghuguanlileixing.png") 0.4rem center no-repeat;
  background-size: 0.75rem;
}
#intelligentuser li:nth-child(3){
  background: url("/static/union_store/yonghuzhuangtai.png") 0.4rem center no-repeat;
  background-size: 0.75rem;
}
#intelligentuser li:nth-child(4){
  background: url("/static/union_store/zuqi.png") 0.4rem center no-repeat;
  background-size: 0.75rem;
}
#intelligentuser a{
  width: 2.5rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  border-radius: 0.15rem;
  color: #fff;
  background: #FEC11B;
  position: absolute;
}
#intelligentuser .freeze{
  bottom: 1.2rem;
  left: 5.55rem;
}
#intelligentuser .del{
  background: #F85959;
  bottom: 1.2rem;
  right: 5.55rem;
}
#intelligentuser .wrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
#intelligentuser .content{
  width: 9rem;
  height: 5rem;
  margin: 11.5rem auto;
  background: #fff;
  border-radius: 0.25rem;
  padding-top: 1.25rem;
  position: relative;
}
#intelligentuser .content p{
  font-size: 0.6rem;
  text-align: center;
}
#intelligentuser .ensure,#intelligentuser .cancel{
  font-size: 0.55rem;
  bottom:1.05rem;
}
#intelligentuser .ensure{
  left: 1.5rem;
  color: #87D9FF;
  background: #fff;
  border: 0.05rem solid #87D9FF;
}
#intelligentuser .cancel{
  background: #87D9FF;
  right: 1.5rem;
}
