#intelligentlock .menu{
  width: 100%;
  height: 2.2rem;
  margin-top: 0.1rem;
  background: #fff;
  font-size: 0.55rem;
  position: relative;
}
#intelligentlock .menu input{
  width: 12.5rem;
  height: 1.4rem;
  position: absolute;
  left: 2.1rem;
  top: 0.4rem;
  border: 0.05rem solid #87D9FF;
  border-radius: 0.2rem;
  padding-left: 1.3rem;
  background: url('/static/union_store/fangyuansousuo2.png') 0.3rem center no-repeat;
  background-size: 0.6rem 0.6rem;
}

#intelligentlock .menu a{
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #FEB941;
  font-size: 0.55rem;
  line-height: 1.75rem;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0.2rem;
  right:1.4rem;
}

#intelligentlock .list{
  width: 17.25rem;
  margin: 0 auto;
}
#intelligentlock .list ul{
  position: relative;
  height: 4.5rem;
  background: #fff;
  font-size: 0.6rem;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  padding-top: 0.65rem;
}
#intelligentlock .list li{
  font-size: 0.6rem;
  height: 1.3rem;
  padding-left: 1.6rem;
}
#intelligentlock .list li:nth-child(1){
  background: url('/static/union_store/id.png') 0.4rem 0 no-repeat;
  background-size: 0.75rem 0.75rem;
}
#intelligentlock .list li:nth-child(2){
  background: url('/static/union_store/zhanghao.png') 0.4rem 0 no-repeat;
  background-size: 0.75rem 0.75rem;
}
#intelligentlock .list li:nth-child(3){
  background: url('/static/union_store/guanliyuan.png') 0.4rem 0 no-repeat;
  background-size: 0.75rem 0.75rem;
}

input { font-size:0.5rem; }
input::-webkit-input-placeholder{color: #ccc;  }
input::-moz-input-placeholder{color: #ccc; }
input::-ms-input-placeholder{color: #ccc;}
