#intelligentinfo ul{
  width: 34.5rem;
  height: 21rem;
  margin: 1rem auto;
  background: #fff;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding-top: 1.8rem;
  position: relative;
}
#intelligentinfo li{
  height: 3.6rem;
  padding-left: 3.2rem;
}
#intelligentinfo li:nth-child(3){
  height: 3.1rem;
}
#intelligentinfo li:nth-child(4){
  line-height: 2.5rem;
}
#intelligentinfo a{
  font-size: 1.2rem;
  display: inline-block;
  width: 7.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  background: #0FCE88;
  border-radius: 0.3rem;
  position: absolute;
}
#intelligentinfo .cancel{
  background: #FF7676;
  margin-left: 1.3rem;
}
#intelligentinfo .send{
  bottom: 2.1rem;
  left: 4.6rem;
}
#intelligentinfo .management{
  bottom: 2.1rem;
  left: 13.6rem;
}
#intelligentinfo .record{
  bottom: 2.1rem;
  left: 22.7rem;
}
#intelligentinfo span{
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background: url('/static/union_store/dianliang50.png') no-repeat;
  background-size: 4.2rem 4.2rem;
  text-align: center;
  padding-top: 0.9rem;
  font-size: 1.2rem;
  color: ##87D9FF;
  position: absolute;
  top: 0.6rem;
  right: 1rem;
}
#intelligentinfo span.active{

}
