#intelligentuser ul{
  width: 34.5rem;
  height: 22.5rem;
  margin: 1rem auto;
  background: #fff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding-top: 0.6rem;
  color: #333;
  position: relative;
}
#intelligentuser li{
  height: 3.6rem;
  line-height: 3.6rem;
  padding-left: 3.2rem;

}
#intelligentuser li:nth-child(1){
  background: url("/static/union_store/guanliyuan.png") 0.8rem center no-repeat;
  background-size: 1.5rem;
}
#intelligentuser li:nth-child(2){
  background: url("/static/union_store/yonghuguanlileixing.png") 0.8rem center no-repeat;
  background-size: 1.5rem;
}
#intelligentuser li:nth-child(3){
  background: url("/static/union_store/yonghuzhuangtai.png") 0.8rem center no-repeat;
  background-size: 1.5rem;
}
#intelligentuser li:nth-child(4){
  background: url("/static/union_store/zuqi.png") 0.8rem center no-repeat;
  background-size: 1.5rem;
}
#intelligentuser a{
  width: 5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  color: #fff;
  background: #FEC11B;
  position: absolute;
}
#intelligentuser .freeze{
  bottom: 2.4rem;
  left: 11.1rem;
}
#intelligentuser .del{
  background: #F85959;
  bottom: 2.4rem;
  right: 11.1rem;
}
#intelligentuser .wrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
#intelligentuser .content{
  width: 18rem;
  height: 10rem;
  margin: 23rem auto;
  background: #fff;
  border-radius: 0.5rem;
  padding-top: 2.5rem;
  position: relative;
}
#intelligentuser .content p{
  font-size: 1.2rem;
  text-align: center;
}
#intelligentuser .ensure,#intelligentuser .cancel{
  font-size: 1.1rem;
  bottom:2.1rem;
}
#intelligentuser .ensure{
  left: 3rem;
  color: #87D9FF;
  background: #fff;
  border: 0.1rem solid #87D9FF;
}
#intelligentuser .cancel{
  background: #87D9FF;
  right: 3rem;
}
