#peoplestore .menu{
  height: 2.5rem;
  margin-top: 0.1rem;
  background: #fff;
  position: relative;
}
#peoplestore .menu span{
  display: block;
  width: 2rem;
  height: 2rem;
  font-size: 0.6rem;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  background: #FFCC00;
  position: absolute;
  left:0.75rem;
  top: 0.25rem;
  z-index: 10;
}
#peoplestore .menu strong{
  display: block;
  width: 4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  background: #F3FBFF;
  color: #666;
  text-align: right;
  font-size: 0.55rem;
  font-weight: 100;
  border-radius: 0.7rem;
  padding-right: 0.35rem;
  position: absolute;
  left: 0.85rem;
  top: 0.55rem;
}
#peoplestore .menu strong.str{
  padding-right: 0.75rem;
}
#peoplestore .menu a{
  display: block;
  width: 4.5rem;
  height: 0.75rem;
  line-height: 0.75rem;
  padding-left: 0.95rem;
  font-size: 0.5rem;
  color: #D2D2D2;
  position: absolute;
  left: 5.65rem;
  top: 0.95rem;
  background: url("/static/union_store/kaitongjingjirenzhanghao.png") left center no-repeat;
  background-size: 0.75rem;
}
#peoplestore .list{
  width: 17.25rem;
  height: 5rem;
  background: #fff;
  margin: 0.25rem auto;
  padding-top: 0.25rem;
  font-size: 0.6rem;
  border-radius: 0.25rem;
  position: relative;
}
#peoplestore .list li{
  height: 1.3rem;
  line-height: 1.3rem;
  padding-left:1.65rem;
}
#peoplestore .list .dian{
  background: url('/static/union_store/mendian.png') 0.35rem center no-repeat;
  background-size: 0.75rem;
}
#peoplestore .list .user{
  background: url('/static/union_store/guanliyuan.png') 0.35rem center no-repeat;
  background-size: 0.75rem;
}
#peoplestore .list span{
  color: #FFA414;
  position: absolute;
  bottom: 0.8rem;
}
#peoplestore .list span:nth-child(1){
  left: 2.35rem;
}
#peoplestore .list span:nth-child(2){
  left: 7.65rem;
}
#peoplestore .list span:nth-child(3){
  left: 11.25rem;
}
#peoplestore .list strong{
  position: absolute;
  font-size: 0.65rem;
  color: #00CCFF;
  right: 0.4rem;
  top: 0.65rem;
  font-weight: 100;
}
#peoplestore .sear{
  height: 2.2rem;
  margin-top: 0.25rem;
  background: #fff;
  position: relative;
}
#peoplestore .sear .store{
  display: block;
  font-size: 0.55rem;
  color: #CCC;
  width: 1.85rem;
  height: 2.2rem;
  line-height: 2.2rem;
  margin-left: 0.8rem;
  background: url('/static/union_store/caiwutype.png') right center no-repeat;
  background-size: 0.55rem;
}
#peoplestore .sear .form{
  width: 12.5rem;
  height: 1.4rem;
  position: absolute;
  top: 0.4rem;
  right: 0.75rem;
}
