#serviceinfo .list{
  width: 34.5rem;
  height: 28rem;
  background: #fff;
  margin:1rem auto;
  position: relative;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
#serviceinfo ul{
  padding-top:10px;
}
#serviceinfo li{
  padding-left: 3.2rem;
  height: 3.6rem;
  line-height: 3.6rem;

}
#serviceinfo .item1{background: url('/static/union_store/wuyedizhi.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .item2{background: url('/static/union_store/zuke.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .item3{background: url('/static/union_store/dianhua.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .item4{background: url('/static/union_store/zuqi.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .item5{background: url('/static/union_store/baoxiuneirong.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .item6{background: url('/static/union_store/zujin.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .item7{background: url('/static/union_store/yonghuzhuangtai.png') 1rem center no-repeat;background-size: 1.5rem 1.5rem;}
#serviceinfo .img, #serviceinfo img{
  width: 5.75rem;
  height: 4.2rem;
}
#serviceinfo .img{
  position: absolute;top: 0;right: 0.35rem
}
