.box{
  height: 100%;
  background: #F9F9F9;
}
#serviceList .menu{
  width: 100%;
  height: 2.2rem;
  background:white;
  margin-bottom: 0.25rem;
}
#serviceList .wrap{
  position: relative;
  width: 17.2rem;
  height: 2.2rem;
  margin: 0 auto;
}

#serviceList .menu span{
  position: absolute;
  left:0;
  top:50%;
  margin-top: -0.525rem;
  display: block;
  width:1.05rem;
  height: 1.05rem;
  background: url('/static/union_store/rili.png') center center no-repeat;
  background-size: cover;
}
#serviceList .menu .form{
  position: absolute;
  left: 1.95rem;
  top:50%;
  margin-top: -0.675rem;
}

#serviceList .menu .btn{
  width: 1.725rem;
  height: 1.725rem;
  font-size: 0.55rem;
  line-height: 1.725rem;
  text-align: center;
  background: #feb941;
  color: #fff;
  position: absolute;
  right:0;
  top:50%;
  border-radius: 50%;
  margin-top: -0.8625rem;
}

#serviceList .box_list{
  width: 17.25rem;
  margin: 0 auto;
}
#serviceList .list_item{
  position: relative;
  padding-top: 0.3rem;
  height: 4.2rem;
  font-size: 0.35rem;
  margin-bottom: 0.25rem;
  border-radius: 0.15rem;
  background-color: #fff;
}
#serviceList .list_item .left li{
  height: 1.25rem;
  line-height: 1.25rem;
  padding-left: 1.6rem;
  font-size: 0.6rem;
}
#serviceList .list_item .left .item1{
  background: url(/static/union_store/wuyedizhi.png) 0.25rem center no-repeat;
  background-size:0.75rem 0.75rem;
}
#serviceList .list_item .left .item2{
  background: url(/static/union_store/baoxiuneirong.png) 0.25rem center no-repeat;
  background-size:0.75rem 0.75rem;
}
#serviceList .list_item .left .item3{
  background: url(/static/union_store/zuqi.png) 0.25rem center no-repeat;
  background-size:0.75rem 0.75rem;
}
#serviceList .list_item .right{
  position: absolute;
  right: 0.5rem;
  top:0.65rem;
  color: #00ccff;
  font-size: 0.65rem;
}
