#servicepayment .paylist1,#servicepayment .paylist2,#servicepayment .paylist3{
  width: 17.25rem;
  background: #fff;
  border-radius: 0.15rem;
  margin: 0 auto 0.25rem;
  font-size: 0.65rem;
}
#servicepayment .paylist1{
  height: 5.75rem;
  margin-top: 0.5rem;
  position: relative;
}
#servicepayment .paylist2{
  height: 4.5rem;
}
#servicepayment .paylist3{
  height: 6.75rem;
}
#servicepayment .pay_btn{
  display: block;
  font-size: 0.75rem;
  color: #fff;
  width: 12.5rem;
  height: 2.15rem;
  line-height: 2.15rem;
  text-align: center;
  border-radius: 0.9rem;
  background: #87d9ff;
  margin: 2.5rem auto 0;
}
#servicepayment h2{
  font-size: 5px;
  height: 1.925rem;
  line-height: 1.925rem;
  padding-left: 0.7rem;
  font-size: 0.65rem;
  font-weight: normal;
}
#servicepayment hr{
  width: 15.2rem;
  margin: 0 auto;
  border: none;
  background: #eee;
  height: 0.5px;
}
#servicepayment .text{
  position: absolute;
  font-size: 0.65rem;
  color: #9adeff;
  left:0.4rem;
  bottom:1.25rem;

}
#servicepayment .price{
  text-align: center;
  font-size: 1.45rem;
  color: #9adeff;
}
#servicepayment .paylist3 p{
  font-size: 0.7rem;
  height: 2.325rem;
  line-height: 2.325rem;
  padding-left: 2.45rem;
  position: relative;
}
#servicepayment .pay1{
  background: url('/static/tenant/weixinzhifu.png') 0.65rem center no-repeat;
  background-size: 1.25rem 1.25rem;
}
#servicepayment .pay2{
  background: url('/static/tenant/yuezhiifu.png') 0.65rem center no-repeat;
  background-size: 1.25rem 1.25rem;
}
#servicepayment .paylist3 input[type="radio"]{
  display: none;
}
#servicepayment label{
  width: 0.8rem;
  height: 0.8rem;
  background: url('/static/tenant/weixuanzhifufangshi.png') no-repeat;
  background-size: 0.8rem 0.8rem;
  position: absolute;
  right: 0.75rem;
  top:0.75rem;
}
#servicepayment label.active{
  background: url('/static/tenant/yixuanzhifufangshi.png') no-repeat;
  background-size: 0.8rem 0.8rem;
}
