#servicewrite .list{
  width:17.25rem;
  height: 18.25rem;
  background: #fff;
  font-size: 0.6rem;
  margin: 0 auto;
  margin-top: 0.55rem;
  padding-top: 0.3rem;
  position: relative;
  border-radius: 0.15rem;
}
#servicewrite .a1{
  height: 1.8rem;
  padding-left: 1.55rem;
  line-height: 1.8rem;
  position: relative;
}
#servicewrite .a1:nth-child(1){
  background: url("/static/union_store/mendian.png") 0.325rem center no-repeat;
  background-size: 0.75rem 0.75rem;
}
#servicewrite .a1:nth-child(2){
  background: url("/static/union_store/jingjiren.png") 0.325rem center no-repeat;
  background-size: 0.75rem 0.75rem;
}
#servicewrite .a1:nth-child(3){
  background: url("/static/agent/tianxiedizhi.png") 0.325rem center no-repeat;
  background-size: 0.75rem 0.75rem;
}
#servicewrite .a1:nth-child(4){
  background: url("/static/agent/baoxiuleixing.png") 0.325rem center no-repeat;
  background-size: 0.75rem 0.75rem;
}
#servicewrite .a1:nth-child(5){
  background: url("/static/union_store/baoxiuneirong.png") 0.325rem 0.55rem no-repeat;
  background-size: 0.75rem 0.75rem;
  height: 3.825rem;
}
#servicewrite li:nth-child(5) textarea{
  width: 8rem;
  height: 3.25rem;
  border: 0.05rem solid #f4f4f4;
  border-radius: 0.075rem;
  resize:none;
  position: absolute;
  top:0.45rem;
  left: 5.325rem;
  padding-left: 0.3rem;
  line-height: 1rem;
  font-size: 0.5rem;
}
#servicewrite li:nth-child(5) textarea::placeholder{
  color: #ccc;
  font-size: 0.5rem;
}
#servicewrite li:nth-child(6){
  background: url("/static/agent/shangchuantupian.png") 0.325rem 0.55rem no-repeat;
  background-size: 0.75rem 0.75rem;
  height: 5rem;
}

#servicewrite .wrap{
  width: 8rem;
  height: 1.15rem;
  position: absolute;
  left: 5.35rem;
  top: 0.325rem;
}
#servicewrite .list a{
  font-size: 0.6rem;
  display: inline-block;
  text-align: center;
  width: 3.7rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.15rem;

  position: absolute;
}
#servicewrite .list .reset{
  border: 0.05rem solid #00CCFF;
  color: #87D9FF;
  bottom: 0.6rem;
  left: 4.25rem;
}
#servicewrite .list .prev{
  color: #fff;
  background: #87d9ff;
  bottom: 0.6rem;
  right: 4.25rem;

}
#servicewrite .list .upload{
  width: 2rem;
  height: 2rem;
  background: url('/static/union_store/jiahao.png') center center no-repeat ;
  border: 0.05rem dashed #ccc;
  display:block;
  font-size:0;
  line-height:0;
  text-indent:-9999px;
  position: absolute;
  top: 2.05rem;
  left: 1.6rem;
}
