#banner .banner{
  width:100%;
}
#banner{
  background: #fff;
}
#banner .banner img{
  width: 100%;
}
#banner .list{
  width: 32rem;
  margin: 3.5rem auto;
  background: red;
}

#banner .list .item{
  display: block;
  width: 10.2rem;
  float: left;
  border: 1px solid #EBEBEB;
  border-bottom: none;
  color: black;
  font-size: 1.2rem;
}
#banner .list .item:nth-child(3n),#banner .list .item:nth-child(3n+1){
    border-left: none;
    border-right: none;
}
#banner .list .item:nth-child(7),#banner .list .item:nth-child(8),#banner .list .item:nth-child(9){
    border-bottom: 1px solid #EBEBEB;
}
#banner .list .item p{
  text-align: center;
  margin-bottom: 1.5rem;
}
#banner .list .item img{
  width: 4rem;
  height: 4rem;
  margin: 1.2rem auto;
}
