@charset "utf-8";

/* CSS Document */


*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: "微软雅黑";
	margin: 0px auto;
  background: #F9F9F9;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
	display: block;
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

input,
button,
select {
	border: none;
	outline: none;
}

input {
	background: transparent;
}
