#droplist{
  width: 8rem;
  height: 1.15rem;
  line-height: 1.15rem;
  padding-left: 0.35rem;
  border: 0.05rem solid #F4F4F4;
  font-size: 0.5rem;
  color: #ccc;
  background: url("/static/agent/xiala.png") 6.9rem center no-repeat;
  background-size: 0.65rem;
  position: relative;
  z-index: 998;
}
#droplist .drop{
  width: 8rem;
  background: #F8F8F8;
  padding: 0.4rem 0 0.25rem 0.35rem;
  position: absolute;
  left: -0.05rem;
  top: 1.1rem;
  color: #333;
}
#droplist .drop li{
  height: 1.1rem;
  background: #F8F8F8;
}
#droplist .drop li.active{
  color: #87D9FF;
}
