#droplist{
  width: 16rem;
  height: 2.3rem;
  line-height: 2.3rem;
  padding-left: 0.7rem;
  border: 0.1rem solid #F4F4F4;
  font-size: 1rem;
  color: #ccc;
  background: url("/static/agent/xiala.png") 13.8rem center no-repeat;
  background-size: 1.3rem;
  position: relative;
  z-index: 998;
}
#droplist .drop{
  width: 16rem;
  background: #F8F8F8;
  padding: 0.8rem 0 0.5rem 0.7rem;
  position: absolute;
  left: -0.1rem;
  top: 2.2rem;
  color: #333;

}
#droplist .drop li{
  height: 2.2rem;
  background: #F8F8F8;
}
#droplist .drop li.active{
  color: #87D9FF;
}
