#withDraw {
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.3);
  position: fixed;
  z-index: 1000;
}
#withDraw .box{
  width: 25rem;
  height: 25rem;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 16rem;
  margin-left: -12.5rem;
  border-radius: 0.5rem;
}
#withDraw h3{
  font-weight: 300;
  text-align: center;
  padding-top: 1.7rem;
  font-size: 1.4rem;
}
#withDraw p{
  font-size: 1.2rem;
  height: 4rem;
  line-height: 4rem;
  padding-left: 0.9rem;
}
#withDraw ul{
  color: #666;
}
#withDraw li{
  padding-left: 3.3rem;
  font-size: 1.2rem;
  color: #666;
  height: 2.7rem;
  line-height: 2.7rem;
  position: relative;
}
#withDraw li label{
  width: 1.1rem;
  height: 1.1rem;
  background: url('/static/tenant/weixuanzhifufangshi.png') no-repeat;
  background-size: 1.1rem 1.1rem;
  position: absolute;
  left: 1.3rem;
  top: 0.8rem;
}
#withDraw li label.active{
  background: url('/static/tenant/yixuanzhifufangshi.png') no-repeat;
  background-size: 1.1rem 1.1rem;
}
#withDraw li input{
  display: none;
}
#withDraw .text{
  font-size: 1.2rem;
  padding-left: 3.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
}
#withDraw .text input{
  padding-left: 1rem;
  width: 14rem;
  height: 2.3rem;
  line-height: 2.3rem;
  border: 0.1rem solid #87D9FF;
  margin-right: 0.5rem;
}
#withDraw .reset,#withDraw .ensure{
    display: inline-block;
    text-align: center;
    width: 5rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.1rem;
    position: absolute;
    bottom: 1.5rem;
}
#withDraw .reset{
  border: 0.1rem solid #87D9FF;
  color: #87D9FF;
  left: 6.6rem;
}
#withDraw .ensure{
  color: #fff;
  background: #87D9FF;
  position: absolute;
  right: 6.5rem;
}
